<div class="col-md-4 mx-auto mt-5">
    <div *ngIf="!showWelcomeDiv" class="p-3 shadow" style="border-radius: 3%;">
        <h4 class="mb-4">2-Step Verification: </h4>
        <div *ngIf="angularFireAuth.user | async as user; else showLogin" class="d-flex justify-content-center my-3">
            <button class="dropdown-toggle btn btn-light" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img src="{{ user.photoURL }}" class="avatar"> {{ user.displayName }}
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-item signoutDiv">
                    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="signOut()">
                        <i class="fas fa-sign-out-alt"></i> Sign Out
                    </button>
                </div>
            </div>
        </div>
        <ng-template #showLogin>
            <div class="d-flex justify-content-center my-3">
                <button class="btn btn-danger my-2 my-sm-0 text-white" (click)="signIn()">
                    <i class="fab fa-google"></i> Sign In with Google
                </button>
            </div>
        </ng-template>
        <p class="text-center">And</p>
        <h5 class="mb-3">Log In</h5>
        <form (submit)="onLogIn()" ngNativeValidate>
            <div class="form-group mt-3">
                <input class="form-control" placeholder="User Name" [(ngModel)]="userName" name="userName" required>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
            </div>
            <div *ngIf="loginFailed" class="text-danger text-center mb-2">Login Failed. Incorrect Username/Password.</div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" id="loginButton"><i class="fas fa-sign-in-alt"></i> Log In</button>
            </div>
        </form>
    </div>
    <div *ngIf="showWelcomeDiv">
        <h3>Welcome, {{ adminService.userName }}</h3>
        <button class="btn btn-danger float-right mt-5" (click)="onLogOut()"><i class="fas fa-sign-out-alt"></i> Log Out</button>
    </div>
</div>
