<div class="col-md-4 mx-auto mt-5">
    <div *ngIf="!showWelcomeDiv" class="p-3 shadow" style="border-radius: 3%;">
        <h5 class="mb-3">Please Log In</h5>
        <div class="form-group mt-3">
            <input class="form-control" placeholder="User Name" [(ngModel)]="userName" required>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" [(ngModel)]="password" type="password" required>
        </div>
        <div class="form-group">
            <button (click)="onLogIn()" class="btn btn-primary">Log In</button>
        </div>
    </div>
    <div *ngIf="showWelcomeDiv">
        <h3>Welcome, {{userName}}</h3>
    </div>
</div>
