<div *ngIf="companiesService.companyExists">
    <app-header-os></app-header-os>
    <router-outlet></router-outlet>
    <div class="mt-5"></div>
    <button (click)="loadBackOffice()" class="float-right btn btn-secondary">Back-office</button>
    <div class="btn btn-warning floatingBtn cursor-pointer d-lg-none d-inline-block" (click)="navigateToCart()">
        <i class="fa fa-shopping-cart my-3"></i>
        <span class="badge badge-danger cartBadge-counter border-circle position-fixed" *ngIf="cartService.cart.length > 0">{{ cartService.cart.length }}</span>
    </div>
</div>

<div *ngIf="!companiesService.companyExists">
    <app-page-not-found></app-page-not-found>
    <div class="text-center">No company found</div>
</div>
