<div *ngIf="companiesService.companyExists">
    <app-header-os></app-header-os>
    <h3 style="text-align: center;">
        Welcome to {{ companiesService.company.name }}
    </h3>
    <app-slideshow></app-slideshow>
    <app-items></app-items>
    <button (click)="loadBackOffice()" class="float-right btn btn-secondary">Back-office</button>
</div>

<div *ngIf="!companiesService.companyExists">
    <app-page-not-found></app-page-not-found>
    <div class="text-center">No company found</div>
</div>
