.btn-primary-custom {
    color: #fff;
    background-color: #cd2e48;
    border-color: #cd2e48;
}

.btn-primary-custom:hover {
    color: #fff;
    background-color: #b81f38;
    border-color: #b81f38;
}

.btn-primary-custom:focus, .btn-primary-custom.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-primary-custom.disabled, .btn-primary-custom:disabled {
    color: #fff;
    background-color: #cd2e48;
    border-color: #cd2e48;
}

.btn-primary-custom:not(:disabled):not(.disabled):active, .btn-primary-custom:not(:disabled):not(.disabled).active,
.show > .btn-primary-custom.dropdown-toggle {
    color: #fff;
    background-color: #b81f38;
    border-color: #b81f38;
}

.btn-primary-custom:not(:disabled):not(.disabled):active:focus, .btn-primary-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary-custom.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.cartBadge-counter {
    position: relative!important;
    top: unset!important;
    bottom: 150%;
    left: 50%;
}

.menuDropdownItem:active {
    background-color: #cd2e48;
}

.menuDropdownItem:focus {
    outline-color: #cd2e48;
}

.lds-dual-ring {
    display: contents;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #cd2e48 transparent #cd2e48 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
