<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Inventory Management</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/{{ companiesService.companyID }}/back-office/inventory-management">Current Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="new-item">Add New Item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="update-existing-item">Update Existing Item</a>
        </li>
    </ul>

    <router-outlet></router-outlet>

</div>
<!-- /.container-fluid -->
