<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm p-3 mb-5 bg-white rounded">
    <img src="{{ companiesService.company.img_path }}" width="80" height="80"
         class="d-inline-block align-top rounded-circle mr-1" alt="logo">
    <a class="navbar-brand" routerLink="/{{ companiesService.companyID }}">
        {{ companiesService.company.name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/{{ companiesService.companyID }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-group my-2 my-lg-0">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="input-group-text mr-2 btn-outline-secondary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <div *ngIf="authService.afAuth.user | async as user; else showLogin" class="nav-item dropdown d-inline-block">
            <button class="dropdown-toggle btn btn-light" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img src="{{ user.photoURL }}" class="avatar" alt="{{ user.displayName }}'s photo">
                {{ user.displayName }}
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-item text-center cursor-pointer menuDropdownItem" routerLink="/{{ companiesService.companyID }}/profile"><i class="fas fa-user mr-2"></i>Profile</div>
                <div class="dropdown-item text-center cursor-pointer menuDropdownItem">Some Action</div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item signoutDiv">
                    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="signOut()">
                        <i class="fas fa-sign-out-alt"></i> Sign Out
                    </button>
                </div>
            </div>
        </div>
        <ng-template #showLogin>
            <button class="btn btn-outline-info my-2 my-sm-0" (click)="signIn()">
                <i class="fas fa-user-circle"></i> Sign In
            </button>
        </ng-template>
        <button class="btn btn-outline-warning my-2 my-sm-0 mx-2" (click)="viewCart()">
            <i class="fas fa-shopping-cart"></i>&nbsp;Cart
        </button>
        <span class="badge badge-danger badge-counter border-circle" *ngIf="cartService.cart.length > 0">{{ cartService.cart.length }}</span>
    </div>
</nav>
