input[type=date]::-webkit-inner-spin-button {
    margin-right: 5px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: url('/assets/img/calendar.svg') center no-repeat;
    width: 15px;
    height: 15px;
    border-width: thin;
    border-radius: 50%;
    padding: 2%;
    transition: .1s ease;
}
input[type=date]::-webkit-calendar-picker-indicator:hover {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 30%;
    background-color: #eeeeee;
}
