.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.signoutDiv:active {
    background-color: #ffffff;
}

.cursor-pointer {
    cursor: pointer;
}

.border-circle {
    border-radius: 50%;
}

.nav-tabs > .nav-item > .nav-link {
    color: #495057;
}

.nav-tabs > .nav-item > .active {
    color: #4e73df;
    font-weight: bold;
}

input[type=date]::-webkit-inner-spin-button {
    margin-right: 5px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: url('/assets/img/calendar.svg') center no-repeat;
    width: 15px;
    height: 15px;
    border-width: thin;
    border-radius: 50%;
    padding: 2%;
    transition: .1s ease;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 30%;
    background-color: #eeeeee;
}

/*used in home from here*/
@media (min-width:27em) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial;
        padding: 1%;
        margin-left: 2%;
        margin-top: 2%;
    }
}

.welcomeText {
    font-size: 2.0rem;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2%;
    padding: 0.2%;
    font-weight: 500;
}

.storeAFIconDiv {
    width: 120px;
    height: 100px;
    padding-left: 1%;
    transition: 2s;
}

.storeAFIconDiv:hover {
    border: 1px solid darkgray;
    border-bottom-right-radius: 30%;
    width: 200px;
    background: #cd2e48;
}

.storeAFIconDiv .hoverText {
    opacity: 0;
    transition: 2s;
}

.storeAFIconDiv:hover .hoverText {
    opacity: 1;
    color: white;
}

.client-cards {
    transition: 1s;
}

.client-cards:active {
    background: #cd2e48;
    color: white;
    cursor: pointer;
    transition: none;
}

.client-cards:hover {
    background: #cd2e48;
    color: white;
    cursor: pointer;
}
/*used in home end here*/

.floatingBtn {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 3%;
    right: 5%;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}
