<div *ngIf="inCompanyList">
<!--    <input type="file" (change)="onFileSelected($event)">-->
    <div *ngIf="!authorizedUser" class="my-5 mx-3 text-center">
        <i class="fas fa-user-lock bigIcon"></i>
        <h3 style="text-align: center;">
            {{ companiesService.company?.name }}'s Back-office Security Check
        </h3>
        <div class="col-10 mx-auto mt-5">
            <div class="p-3 shadow" style="border-radius: 3%;">
                <div *ngIf="angularFireAuth.user | async as user; else showLogin">
                    <div class="d-flex justify-content-center my-3">
                        <button class="dropdown-toggle btn btn-light" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><img src="{{ user.photoURL }}" class="avatar" alt="{{ user.displayName }}'s photo"> {{ user.displayName }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-item signoutDiv">
                                <button class="btn btn-outline-danger my-2 my-sm-0" (click)="signOut()">
                                    <i class="fas fa-sign-out-alt"></i> Sign Out
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <h5>It looks like you are not authorized for {{ companiesService.company?.name }}'s Back-office.<br>You can still see a demo dashboard <a routerLink="/Demo Comp/back-office">here</a></h5>
                    </div>
                </div>
                <ng-template #showLogin>
                    <h5 class="mb-4">Please Sign in to continue: </h5>
                    <div class="d-flex justify-content-center my-3">
                        <button class="btn btn-danger my-2 my-sm-0 text-white" (click)="signIn()">
                            <i class="fab fa-google"></i> Sign In with Google
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div *ngIf="authorizedUser">
        <app-layout-bo></app-layout-bo>
    </div>
</div>

<div *ngIf="!inCompanyList">
    <app-page-not-found></app-page-not-found>
    <div class="text-center">no company found</div>
</div>
