<!-- DataTales Example -->
<div class="card shadow mb-4 border-top-0">

    <div class="d-flex justify-content-end mt-3">
        <div class="align-self-center">Set Date Range:</div>
        <div class="input-group col-6">
            <input type="date" class="form-control" id="fromDate" placeholder="From Date">
            <div class="input-group-append">
                <span class="input-group-text">to</span>
            </div>
            <input type="date" class="form-control" id="toDate" placeholder="To Date">
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sakura Yamamoto</td>
                    <td>Support Engineer</td>
                    <td>Tokyo</td>
                    <td>37</td>
                    <td>2009/08/19</td>
                    <td>$139,575</td>
                </tr>
                <tr>
                    <td>Thor Walton</td>
                    <td>Developer</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2013/08/11</td>
                    <td>$98,540</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="5" style="text-align:right">Sum:</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
