<!-- DataTales Example -->
<div class="card shadow mb-4 border-top-0">

    <div class="d-flex justify-content-end mt-3">
        <div class="align-self-center">Set Date Range:</div>
        <div class="input-group col-6">
            <input type="date" class="form-control" id="fromDate" placeholder="From Date">
            <div class="input-group-append">
                <span class="input-group-text">to</span>
            </div>
            <input type="date" class="form-control" id="toDate" placeholder="To Date">
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Images</th>
                    <th>Details</th>
                    <th>Stock</th>
                    <th>Last Modified date</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th colspan="5" style="text-align:right">Sum:</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
