<app-ts-particles></app-ts-particles>
<div class="row bg-dark mx-0 position-relative">
    <div class="container p-2">
        <div class="float-right text-white">
            <h3 class="pr-1">Store-AF Admin</h3>
            <div *ngIf="!isOnline">
                <span class="badge badge-pill badge-danger">No Internet Connection</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="nav nav-tabs mt-2 position-relative">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/admin/newCompany">New Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/admin/editCompany">Edit Company</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
