<div *ngIf="cartService.cart.length > 0; else cartEmpty">
    <div *ngIf="authService.afAuth.user | async as user; else showSignIn" class="nav-item dropdown container">
        <button class="dropdown-toggle btn btn-light d-lg-none d-inline-block" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><img src="{{ user.photoURL }}" class="avatar" alt="{{ user.displayName }}'s photo">
            {{ user.displayName }}
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-item cursor-pointer menuDropdownItem" routerLink="/{{ companiesService.companyID }}/profile"><i class="fas fa-user mr-2"></i>Profile</div>
            <div class="dropdown-item cursor-pointer menuDropdownItem" routerLink="/{{ companiesService.companyID }}/my-orders"><i class="fas fa-list-ul mr-2"></i>My Orders</div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item signoutDiv">
                <button class="btn btn-outline-danger my-2 my-sm-0" (click)="signOut()">
                    <i class="fas fa-sign-out-alt"></i> Sign Out
                </button>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h3 class="mb-4">Confirm your info: </h3>
                <div class="mb-2"><span class="input-group-text d-inline-block">User Name: </span> {{ usersService.currentUser.name }}</div>
                <div class="mb-2"><span class="input-group-text d-inline-block">Email: </span> {{ usersService.currentUser.email }}</div>
                <form (submit)="placeOrder()" ngNativeValidate>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone No: </span>
                        </div>
                        <input type="number" class="form-control" value="{{ usersService.currentUser.phoneNo }}" (input)="checkPhoneNoChange()" required #phoneNo>
                        <button *ngIf="phoneNoChanged" class="btn btn-success" type="button" (click)="updatePhoneNo()">Save</button>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Address: </span>
                        </div>
                        <input type="text" class="form-control" value="{{ usersService.currentUser.address }}" (input)="checkAddressChange()" required #address>
                        <button *ngIf="addressChanged" class="btn btn-success" type="button" (click)="updateAddress()">Save</button>
                    </div>
                    <div class="form-check form-check-inline mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Payment Method: </span>
                        </div>
                        <input type="radio" class="form-check-input ml-2" name="paymentMethod" value="Cash on Receive" [(ngModel)]="paymentMethod" required> Cash on Receive
                    </div>
                    <div class="row mt-4">
                        <button class="btn btn-primary-custom mx-auto" type="submit">Place Order</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <ng-template #showSignIn>
        <app-show-sign-in></app-show-sign-in>
    </ng-template>
</div>
<ng-template #cartEmpty>
    <div class="text-center container">
        <h3>Your cart is empty!</h3>
        <div class="row">
            <button class="btn btn-primary-custom mx-auto my-5" routerLink="/{{ companiesService.companyID }}"><i class="fas fa-backward"></i> Go Back to Shopping</button>
        </div>
    </div>
</ng-template>
