<div *ngIf="cartService.cart.length > 0; else cartEmpty">
    <div *ngIf="afAuth.user | async as user; else showLogin" class="nav-item dropdown d-sm-none d-inline-block container">
        <button class="dropdown-toggle btn btn-light" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><img src="{{ user.photoURL }}" class="avatar" alt="{{ user.displayName }}'s photo">
            {{ user.displayName }}
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-item">Action</div>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item signoutDiv">
                <button class="btn btn-outline-danger my-2 my-sm-0">
                    <i class="fas fa-sign-out-alt"></i> Sign Out
                </button>
            </div>
        </div>
    </div>
    <ng-template #showLogin>
        <div class="row">
            <h3 class="mx-auto">Please Sign In first.</h3>
        </div>
        <div class="row">
            <button class="btn btn-outline-info my-3 my-sm-3 mx-auto" (click)="signIn()">
                <i class="fas fa-user-circle"></i> Sign In
            </button>
        </div>
    </ng-template>
</div>
<ng-template #cartEmpty>
    <div class="text-center">
        <h3>Your cart is empty!</h3>
        <div class="row">
            <button class="btn btn-primary-custom mx-auto my-5" routerLink="/{{ companiesService.companyID }}"><i class="fas fa-backward"></i> Go Back to Shopping</button>
        </div>
    </div>
</ng-template>
