<div *ngIf="!itemsService.selectedItemExists">
    <app-page-not-found></app-page-not-found>
</div>
<span *ngIf="itemsService.selectedItemExists">
    <div *ngIf="!itemsService.companyItemsLoadingComplete">
        <app-loading></app-loading>
    </div>
    <span *ngIf="itemsService.companyItemsLoadingComplete">
        <div class="container">
            <h3>{{ itemsService.selectedItem.name }}</h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row mt-3">
                        <img class="displayImage mx-auto" src="{{ itemsService.selectedItem.imgPaths[0] }}" alt="{{ itemsService.selectedItem.name }}" #displayImage>
                    </div>
                    <div class="row my-3 container">
                        <span *ngFor="let url of itemsService.selectedItem.imgPaths">
                            <img [src]="url" class="rounded mr-2 imgSelect cursor-pointer" width="50"
                                 (click)="viewImage(url)" title="Click to View Image" alt="{{itemsService.selectedItem.name}} image">
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 pl-5">
                    <div class="row">
                        <h5>{{ itemsService.selectedItem.name }}</h5>
                    </div>
                    <div class="row">
                        In Stock:
                        <span *ngIf="itemsService.selectedItem.stock < 10" class="text-danger ml-1">{{ itemsService.selectedItem.stock }}</span>
                        <span *ngIf="itemsService.selectedItem.stock > 10 || itemsService.selectedItem.stock == 10" class="ml-1">{{ itemsService.selectedItem.stock }}</span>
                    </div>
                    <div class="row mt-3">
                        Details: {{ itemsService.selectedItem.details }}
                    </div>
                    <div class="row">
                        <h6>Price: {{ itemsService.selectedItem.price }}</h6>
                    </div>
                    <div class="row">
                        <label class="quantityLabel mr-2">Quantity:</label>
                        <input type="number" class="form-control w-15" value="1" min="1" max="{{ itemsService.selectedItem.stock }}" name="quantity" [(ngModel)] = "quantity">
                        <button class="btn btn-warning text-white mx-auto" (click)="addToCart(itemsService.selectedItem)">Add to Cart <i class="fas fa-shopping-cart"></i>+</button>
                    </div>
                </div>
            </div>
        </div>
    </span>
</span>
