<div *ngIf="!isLoggedIn" class="text-center">
    You have to log in to interact.
</div>
<div *ngIf="isLoggedIn" class="col-md-8 mx-auto my-5">
    <div class="d-flex justify-content-end align-items-center text-center">
        <label for="companySelect" class="mx-3">Select Company: </label>
        <select class="selectpicker d-flex flex-row-reverse" data-live-search="true" id="companySelect" (change)="onCompanySelect($event.target.value)">
            <option disabled hidden></option>
            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
            <option data-tokens="mustard">Burger, Shake and a Smile</option>
            <option data-tokens="frosting">Sugar, Spice and all things nice</option>
        </select>
    </div>
    <div *ngIf="companySelected" class="my-5">
        {{ selectedCompany }} was selected!
    </div>
</div>
