<div [hidden]="!(authService.afAuth.user | async)"  class="container" >

    <input matInput (keyup)="applyFilter($event)" placeholder="search..." class="form-control ml-auto mb-1" style="width: 30%;">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="ordersService.filteredUserOrders" class="w-100 table-hover" matSort>

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Order-ID Column -->
            <ng-container matColumnDef="orderID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order-ID </th>
                <td mat-cell *matCellDef="let element"> {{element.orderID}} </td>
            </ng-container>

            <!-- Order Date Column -->
            <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
                <td mat-cell *matCellDef="let element"> {{element.orderDate.toDate() | date}} </td>
            </ng-container>

            <!-- Items Column -->
            <ng-container matColumnDef="cart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngFor="let item of element.cart" (click)="navigateToItem(item.id)" class="cursor-pointer">
                        <img src="{{item.imgUrl}}" height="25" alt="item image">
                        {{item.name}} (x{{item.quantity}})
                    </div>
                </td>
            </ng-container>

            <!-- Payment Method Column -->
            <ng-container matColumnDef="paymentMethod">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method </th>
                <td mat-cell *matCellDef="let element"> {{element.paymentMethod}} </td>
            </ng-container>

            <!-- Total Price Column -->
            <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
                <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>

    <button class="btn btn-primary-custom mx-auto my-5"
            routerLink="/{{ companiesService.companyID }}"><i class="fas fa-backward"></i> Go Back to Shopping</button>
</div>
<div [hidden]="authService.afAuth.user | async">
    <app-show-sign-in></app-show-sign-in>
</div>
