<app-ts-particles></app-ts-particles>
<div class="storeAFIconDiv">
    <i class="fab fa-stripe-s card-header"
       style="font-size:48px;
       background: -webkit-linear-gradient(white, red);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       padding-right: 2px;"></i>
    <span class="hoverText">tore-AF</span>
    <p class="hoverText" style="font-size: 12px">Created by Samin Azhan</p>
</div>
<div class="text-center">
    <p class="welcomeText">
        Welcome to {{ title }}!
    </p>
    <div class="mx-4">
        <span class="typedText"></span>
    </div>
    <h4 style="margin-top: 15%;">Clients: ({{companiesService.companiesCount}})</h4>
    <div class="card-deck" style="margin: 5%;">
        <div class="card client-cards" *ngFor="let company of companiesService.companies"
             (click)="loadOnlineStore(company.id)">
            <img src="{{ company.img_path }}" class="card-img-top" alt="{{company.name}} image">
            <div class="card-body">
                <h5 class="card-title">{{ company.name }}</h5>
                <p class="card-text">{{ company.details }}</p>
            </div>
        </div>
    </div>
</div>
